<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .comment { font-size: 0.85em; font-weight: italic; margin: 12px auto; }
    </style>

    <script src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
     <div class="form-group">
       <input id="lunch-menu" type="text"
        placeholder="list comma separated dishes you usually have for lunch"
        class="form-control" ng-model="lunchItems">
       <div class='comment'>Empty items are not considered!</div>
     </div>
     <div class="form-group">
       <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
     </div>
     <div class="form-group message">
       {{ postLunchCheckMessage }}
     </div>
   </div>
</body>
</html>
